In [9]:
select 
    Year(OrderDate) as Ord_Year
    , Month(OrderDate) as Ord_Month 
    , sum(Quantity) as Total_Quantity
from dbo.OrderDetails
group by Year(OrderDate), Month(OrderDate)
order by 1,2

Ord_Year,Ord_Month,Total_Quantity
2015,1,2249
2015,2,2326
2015,3,2266
2015,4,2289
2015,5,2479
2015,6,2468
2015,7,2382
2015,8,2634
2015,9,2221
2015,10,2325
2015,11,2354
2015,12,2215
2016,1,2431
2016,2,2017
2016,3,2535
2016,4,2556
2016,5,2588
2016,6,2490
2016,7,2351
2016,8,2201
2016,9,2044
2016,10,2325
2016,11,1963
2016,12,1967